/* Header Starts */
.header {
    height: 90vh;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: #202125;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.header h2 {
    font-size: 4vh;
    font-weight: 100;
}

#logo text {
    cursor: default;
    font-size: 20vh;
    color: #202125;
    stroke-width: 2px;
    stroke: #AFCBFD;
    stroke-dasharray: 800;
    stroke-dashoffset: 0;
    animation: animate 8s linear forwards infinite;
}

.button {
    margin: 1vh 1vw;
    font-size: 2vh;
    display: inline-block;
    padding: 16px 32px;
    border-radius: 20px;
    border-width: 2;
    border-style: solid;
    background-color: transparent;
    border-color: white;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

.button:hover {
    font-weight: bold;
    color: #202125;
    background-color: white;
    transform: scale(1.2, 1.2);
}


@keyframes animate {
    0% {
        stroke-dashoffset: 0;
    }

    40% {
        stroke-dashoffset: 800;
    }

    100% {
        stroke-dashoffset: 1600;
    }
}

/* Header Completed */

/* Features Starts */
.features {
    margin: 5vh 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.features .item {
    color: white;
    padding: 2vh 2vw;
    margin: 0 2vw;
    background-color: #202125;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    transition: 1s;
    cursor: pointer;
}

.features .item img {
    width: 50%;
}

.features .item h1 {
    font-size: 5vh;
}

.features .item h2 {
    font-size: 2vh;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
}

.features .item:hover {
    transform: scale(1.05, 1.05)
}

/* Features Completed */

/* Footer Starts */
.footer {
    background-color: #202125;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}


.download {
    padding: 2vh 2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.download img{
    width: 20%;
    cursor: pointer;
    transition: 0.7s;
}
.download img:hover{
    transform: scale(1.1,1.1)
}
.download .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.download .text h1 {
    margin: 0;
    font-size: 7vh;
}

.download .text h2 {
    font-size: 2vh;
}

#screenshot{
    height: 60vh;
}
#screenshot img{
   width: auto;
    height: 90%;
}

@media screen and (max-width: 1024px) {
    #logo text {
        font-size: 11vh;
    }

    .header h2 {
        font-size: 2vh;
    }

    .features {
        flex-direction: column;
        margin: 5vh 2vw;
    }

    .features .item {
        margin: 2vh 0;

    }
    .download .text {
        display: none;
    }
}
